In [38]:
import pytesseract
import cv2
import os

In [39]:
img_path = "/home/nirav/Desktop/Workspace/ML/DJ_Strike/test_images_bar/30_out.png"

In [40]:
img = cv2.imread(img_path)
# img_rgb = cv2.cvtColor(img, cv2.COLOR_BGR2RGB)
gray = cv2.cvtColor(img, cv2.COLOR_BGR2GRAY)
cv2.imshow("image",gray)

In [41]:
img_data = pytesseract.image_to_data(gray,output_type='data.frame')

In [42]:
img_data.dropna(subset=['text'],inplace=True)

In [43]:
img_data

,level,page_num,block_num,par_num,line_num,word_num,left,top,width,height,conf,text
4,5,1,1,1,1,1,54,28,13,9,88,70
8,5,1,2,1,1,1,53,77,14,9,91,60
12,5,1,3,1,1,1,54,126,13,9,85,50
16,5,1,4,1,1,1,53,175,14,9,90,40
20,5,1,5,1,1,1,54,224,13,9,81,30
24,5,1,6,1,1,1,53,273,14,9,92,20
28,5,1,7,1,1,1,54,322,13,9,85,10
32,5,1,8,1,1,1,73,30,434,3,95,
36,5,1,9,1,1,1,72,31,3,343,95,
40,5,1,10,1,1,1,73,372,434,3,95,
44,5,1,11,1,1,1,145,384,4,9,95,1
45,5,1,11,1,1,2,215,384,7,9,96,2
46,5,1,11,1,1,3,287,384,6,9,95,3
47,5,1,11,1,1,4,357,384,7,9,96,4
48,5,1,11,1,1,5,429,384,6,9,93,5
52,5,1,12,1,1,1,505,31,3,343,95,

In [44]:
img_data = img_data[img_data['text']!=' ']
img_data

,level,page_num,block_num,par_num,line_num,word_num,left,top,width,height,conf,text
4,5,1,1,1,1,1,54,28,13,9,88,70
8,5,1,2,1,1,1,53,77,14,9,91,60
12,5,1,3,1,1,1,54,126,13,9,85,50
16,5,1,4,1,1,1,53,175,14,9,90,40
20,5,1,5,1,1,1,54,224,13,9,81,30
24,5,1,6,1,1,1,53,273,14,9,92,20
28,5,1,7,1,1,1,54,322,13,9,85,10
44,5,1,11,1,1,1,145,384,4,9,95,1
45,5,1,11,1,1,2,215,384,7,9,96,2
46,5,1,11,1,1,3,287,384,6,9,95,3
47,5,1,11,1,1,4,357,384,7,9,96,4
48,5,1,11,1,1,5,429,384,6,9,93,5

In [45]:
key = cv2.waitKey()
if key==27:
    cv2.destroyAllWindows()